:root {
 --gray: #a2a2a2;
 --gray-input: #f5f5f5;
 --gray-title: #464646;
 --blue: #300298;
 --green: #28503f;
 --white: #fff;
 --background: #f5f5f5;
 --black: #000;
 --purple: #abb5f7;
 --red: #bc0e0e;
 --gray-button: #DAD1CE;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Montserrat', sans-serif;
 background-color: var(--background);
}

.error {
  text-align: center;
  background-color: var(--red);
  color: var(--white);
  margin: 5px auto;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

.login__title {
 font-weight: bold;
 margin-bottom: 15px;
 text-transform: uppercase;
 text-align: center;
}

.title__admin {
 margin: 15px;
 text-align: center;
}

.container {
 max-width: 100vw;
 background-color: var(--white);
}

.container__general {
 padding: 30px;
}

.header {
  max-width: 100vw;
  width: 95%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px;
}

.header__logo {
 width: 85px;
}

.header__button-login {
 width: 60px;
 border: 1px solid var(--black);
 border-radius: 60px;
 padding: 5px;
 font-size: 14px;
 font-weight: 700;
}

.header__search {
 background-color: var(--background);
 border-radius: 20px;
 padding: 5px;
 border: 1px solid var(--black);
 width: 200px;
}

.header__fondo {
 width: 100%;
 height: 192px;
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./assets/images/fondo_header.jpg);
 background-size: cover;
 background-position: center;
}

.header__title {
 color: var(--white);
 font-weight: 700;
 font-size: 44px;
 line-height: 100px;
 padding-left: 20px;
}

.header__subtitle {
 color: var(--white);
 font-size: 12px;
 font-weight: 500;
 padding-left: 20px;
}

.header__button-new {
 width: 104px;
 height: 40px;
 border-radius: 50px;
 font-weight: 700;
 text-transform: uppercase;
 margin: 20px;
 border: none;
}

.rol {
  display: none;
}

.products__img {
  width: 50px;
}

.product__detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.product__detail-img {
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.product__detail-description {
  margin: 15px 0;
  font-weight: bold;
}
.product__detail-left {
  width: 100%;
}
.product__detail-info{
  display: flex;
  flex-direction: column ;
  padding: 15px;
  width: 100%;
}
/* Fin del Header */

/* Formulario de Login */
.modal__container {
 width: 400px;
}

/* Formulario de Registro */

.form__container {
 background-color: var(--white);
 width: 350px;
 margin: 20px auto;
 padding: 10px;
 box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.44);
 -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.44);
 -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.44);
}

.form__container--campo {
 display: grid;
}

.input__form {
 font-weight: bold;
 padding-bottom: 5px;
}

.button__register {
 padding: 10px;
 text-transform: uppercase;
 color: var(--white);
 font-weight: bold;
 background-color: var(--green);
 width: 100%;

 margin-bottom: 10px;
 cursor: pointer;
}

/* Menu Administracion */
.nav__label {
 font-size: 40px;
 cursor: pointer;
}

.nav__input {
 display: none;
}

.nav__menu {
 background-color: var(--gray);
 position: fixed;
 top: 80px;
 width: 100%;
 bottom: 0;
 left: 0;
 display: flex;
 padding: 34px;
 flex-direction: column;
 gap: 1.5em;
}

.nav__menu ul {
 height: 30vh;
 display: flex;
 justify-content: space-evenly;
 flex-direction: column;
 align-items: center;
}

.nav__item {
 text-decoration: none;
 padding-bottom: 7px;
 display: block;
}

tr:nth-child(odd) td {
  background-color: var(--purple);
  color: var(--white);
  padding: 5px;
  border: 1px solid var(--gray);
}

tr:nth-child(even) td {
  padding: 5px;
  border: 1px solid var(--gray);
}

.buttonEdit {
  color: var(--white);
  background-color: var(--blue);
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  width: 100%;
}
.buttonDelete {
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

/* Menu de Usuarios */
.container__users {
 padding: 5px;
 max-width: 95%;
 width: 100vw;

 color: var(--white);
 margin: 10px;
 background-color: var(--white);
 box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

.menu__item {
 list-style-type: none;
}

.nav__menu {
 clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
 transition: clip-path 1.5s ease-in-out;
}

.nav__menu.isActive {
 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.table__users {
 background-color: var(--blue);
}

.table__users th {
 padding: 10px;
}

.container__users td {
 color: var(--black);
}

/* Modal */
.modal {
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: var(--gray-input);
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.formulario {
 width: 100%;
 transition-property: all;
 transition-duration: 300ms;
 transition-timing-function: ease-in;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 opacity: 0;
}

.inputs__login {
 margin-bottom: 0.5rem;
 width: 100%;
 height: 2.5rem;
 background: #ffffff;
 border-radius: 4px;
 padding: 10px;
}

.modal__button {
 background-color: var(--green);
 color: var(--white);
 padding: 5px;
 border-radius: 50px;
 width: 100px;
 text-transform: uppercase;
 margin: 10px auto;
}

.cerrar-modal {
 position: absolute;
 right: 3rem;
 top: 3rem;
 width: 2rem;
 height: 2rem;
}

.animar {
 position: relative;
 opacity: 1;
}

.cerrar {
 opacity: 0;
}

.fijar {
 overflow: hidden;
 height: 100vh;
}

/* fin Modal */

/* PRODUCTS */

.container__products {
 display: grid;

 grid-template-columns: repeat(2, 1fr);
 justify-content: center;
 align-items: center;
}

.card {
 width: 156px;
 margin: 30px auto;
 height: 280px;
 border: 1px solid var(--gray);
 box-shadow: 9px 10px 12px -3px rgba(0, 0, 0, 0.52);
 -webkit-box-shadow: 9px 10px 12px -3px rgba(0, 0, 0, 0.52);
 -moz-box-shadow: 9px 10px 12px -3px rgba(0, 0, 0, 0.52);
}

.card__title {
 font-size: 14px;
 padding: 5px;
}

.card__price {
 padding: 5px;
}

.card img {
 width: 100%;
 height: 174px;
}

.card__button {
 width: 70%;
 background-color: var(--gray-button);
 border: none;
 color: var(--black);
 border-radius: 5px;
 padding: 5px;
 font-size: 12px;
 margin-left: 5px;
 font-weight: 700;
	transition: all 0.3s;
	position: relative;
}



/* PAGES */

.about__title {
 text-align: center;
 padding: 50px 0 10px;
}

.about__description {
 width: 100vw;
 padding: 20px;
}

.about__description p {
 margin-bottom: 15px;
}

.card__person-container {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.card__person {
 margin: 0 auto;
 width: 180px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.card__person-profile {
 width: 100%;
 margin-bottom: 10px;
}

.card__person-name {
 font-weight: bold;
 margin-bottom: 10px;
 text-align: center;
}

.card__person-position {
 color: var(--gray);
 margin-bottom: 10px;
}

.card__person-icon {
 display: flex;
 width: 60%;
 justify-content: space-around;
 margin-bottom: 20px;
 cursor: pointer;
}

/* FOOTER */
.footer_principal {
 width: 100%;

 /* position: absolute; */
}

.container__footer {
 background-color: var(--green);
}

.container__footer-text {
 color: var(--white);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 40px 20px 10px;

 font-size: 13px;
 font-weight: normal;
}

.container__footer-text img {
 width: 100px;
 margin-bottom: 20px;
}

.container__footer-text a {
 text-decoration: none;
 color: var(--white);
 padding: 5px;
}

.footer_form {
 display: flex;
 flex-direction: column;
 background-color: var(--green);
 color: var(--white);
 padding: 20px;
}

.footer_form p {
 padding-bottom: 10px;
 font-weight: 700;
}

.footer_form input,
.footer_form textarea {
 border-radius: 5px;
 padding: 5px;
 margin: 10px 0;
}

.button__footer {
 width: 150px;
 padding: 10px;
 border-radius: 40px;
 border: 2px solid var(--white);
 background-color: var(--green);
 color: var(--white);
 margin-top: 10px;
}

.copyright {
 font-size: 14px;
 text-align: center;
 padding: 10px;
 font-weight: 700;
}

textarea {
 padding: 10px;
}

.input_error {
 margin-bottom: 0.5rem;
 width: 21rem;
 height: 2.5rem;
 background: #ffffff;
 border-radius: 4px;
}

.privacity__container {
 padding: 30px;
}

.privacity__container li {
 padding-left: 40px;
 list-style-position: inside;
}

.privacity__container h2 {
 margin: 10px;
}

.privacity__container p {
 margin: 15px;
}

span {
 font-weight: bold;
}

/* LOADER SPINNER */

.lds-ring {
 display: inline-block;
 position: relative;
 width: 80px;
 height: 80px;
}

.lds-ring div {
 box-sizing: border-box;
 display: block;
 position: absolute;
 width: 64px;
 height: 64px;
 margin: 8px;
 border: 8px solid #dfc;
 border-radius: 50%;
 animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
 border-color: var(--green) transparent transparent transparent;
}

.profile {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 20px;
}

.lds-ring div:nth-child(1) {
 animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
 animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
 animation-delay: -0.15s;
}

.cart {
 position: relative;
}

.badge {
 position: absolute;
 top: -10px;
 right: -10px;
 padding: 5px 10px;
 border-radius: 50%;
 background: red;
 color: white;
}

/* Products cards and cart */

.insideCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.card__button span {
	transition: all 0.3s;
}
.card__button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.card__button:hover span {
	letter-spacing: 2px;
}
.card__button:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.card__button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1); 
}
.card__button:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.cardCart{
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid black
}

.cardCartMoreOrLess{
  display: flex;
}

.buttonMoreOrLess{
  margin: 0 10px 0 10px
}

.cardCartImg{
  height: 100px;
  width: 100px;
}

.subTotal{
  display: flex;
  justify-content: end;
  margin-right: 9%;
}

/* Contacts */
.contactContainer{
  display: flex;
  flex-direction: column;
}

.contactImg{
  height: 44px;
  width: 44px;
}

.getInTouch{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactIcon{
  padding-top: 5%;
}

.iconAnchor{
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding-left: 4px;
}


.contactForm{
  height: 100%;
  width: 100%;
  
  padding-top: 24px;
  padding-bottom: 55px;
  padding-left: 39px;
  padding-right: 32px;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #FFFFFF;
  border: 1px solid #E7E8F1;
  border-radius: 36px;
  position: relative;
  box-shadow: 0px 8px 18px rgb(31 37 89 / 5%);
} 

.inputContact, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.buttonContact {
  background-color: rgb(41, 40, 40);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  
}

@keyframes lds-ring {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@media (min-width: 600px) {
 .header__search {
  width: 350px;
 }

 .container__products {
  grid-template-columns: repeat(3, 1fr);
 }

 .card {
  width: 224px;
  height: 300px;
 }

 .container__footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
 }

 .container__general {
  padding: 30px 100px;
 }

 .card__person-container {
  grid-template-columns: repeat(3, 1fr);
 }

 .nav__label,
 .nav__input {
  display: none;
 }

 .nav__menu {
  flex-direction: row;
  top: 0;
  position: relative;
  clip-path: circle(100% at center);
  height: 80px;
  background-color: var(--white);
  padding: 30px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
 }

 .nav__menu ul {
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
 }

 .buttonDelete, .buttonEdit {
  width: 40%;
}

}

@media (min-width: 1000px) {
 .header__search {
  width: 500px;
 }

 .container__products {
  grid-template-columns: repeat(4, 1fr);
 }

 .container__footer {
  padding: 0 80px;
 }

 .card__person-container {
  grid-template-columns: repeat(4, 1fr);
 }

 .container__general {
  padding: 30px 250px;
 }

 .contactContainer {
  flex-direction: row;
 }
}

@media (min-width: 1300px) {
 .card__person-container {
  grid-template-columns: repeat(5, 1fr);
 }

 .container__general {
  padding: 30px 450px;
 }

}



